body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color:black;
}
.container{
	position:relative;
	display:flex;
	justify-content: center;
	align-self:center;

}
img{
	width:100%;
	height:100%;
	display:block;
}
.btn{
	position:absolute;
	display:flex !important;
	flex-wrap:wrap;
	justify-content: center !important;
	border-radius:300px;
}
p {
	position:absolute;
	align-self:flex-start;
	text-transform:uppercase;
	color:white;
	font-weight:bold;
	top:35%;
}